<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="searchterm">Ange sökord:</label>
                <input type="text" id="searchterm" class="form-control" data-ng-model="searchTerm" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" data-ng-click="searchSpecificEvent()"/>
            </div>
        </div>
    </div>



    <div class="event-container">
        <ul>
            <li data-ng-repeat="event in events">
                {{event.description}}<br>
                <a href="#/update_position?id={{event.id}}">Updatera eventet</a><br>
                <a href="#/show_specific_position?id={{event.id}}">Visa detaljer</a><br>
            </li>
        </ul>
    </div>
</div>