<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="description">Ange beskrivning på eventet:</label>
                <input type="text" id="description" class="form-control" data-ng-model="event.description" ng-init="event.description=''" />
            </div>
        </div>
        <div class="form-group">
            <label for="position">Ange position:</label>
            <div>
                <select id="position" data-ng-model="event.position">
                    <option data-ng-repeat="position in positions" value="{{position}}">
                        {{position.location_name}}
                    </option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" data-ng-click="UpdateEvent()"/>
        </div>
    </div>
</div>


